@model ProductDto
//*/
@{
}
<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">Editar Producto</h2>

		<form method="post" enctype="multipart/form-data">

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Id</label>
				<div class="col-sm-8">
					<input class="form-control-plaintext" readonly value="@ViewData["ProductoId"]" />
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Nombre</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Nombre">
					<span asp-validation-for="Nombre" class="text-danger"></span>

				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Relleno</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Relleno">
					<span asp-validation-for="Relleno" class="text-danger"></span>

				</div>
			</div>

			
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Categoria</label>
				<div class="col-sm-8">
					<select class="form-select" asp-for="Categoria">
						<option value='Otro'>Otro</option>
						<option value='Especial'>Especial</option>
						<option value='Choco'>Choco</option>
						<option value='Cupcakes Unidad'>Cupcakes Unidad</option>
						<option value='Frutas'>Frutas</option>
						<option value='Tradicional'>Tradicional</option>
						<option value='Super Especial'>Super Especial</option>
					</select>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Precio</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Precio" >
					<span asp-validation-for="Precio" class="text-danger"></span>

				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Descripcion</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Descripcion">
					<span asp-validation-for="Descripcion" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<div class="offset-sm-4 col-sm-8">
					<img src="/Productos/@ViewData["Imagen"]" width="150" />
				</div>
			</div>

		
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Imagen</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Imagen">
					<span asp-validation-for="Imagen" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Fecha_Creacion</label>
				<div class="col-sm-8">
					<input class="form-control-plaintext" readonly value="@ViewData["Fecha_Creacion"]" />
				</div>
			</div>


			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" asp-controller="Productos" asp-action="Index" role="button">
						Cancelar
					</a>
				</div>
			</div>

		</form>
	</div>
</div>

