@{
    ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, initial-scale=1.0">
<div class="imagencomo-background"></div>

<div class="content align-text-top">
    <h1 class="display-4">Bienvenido Admin </h1>
</div>

