@{
    ViewData["Title"] = "Politica Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Última actualización: 24 de junio de 2024

    Quques Doña Li se compromete a proteger su privacidad. Esta política describe cómo manejamos su información personal.

    1. Información que Recopilamos
    Datos personales: Nombre, correo electrónico, dirección y teléfono.
    Pago: Procesado de manera segura, no almacenamos detalles de la tarjeta.
    Uso del sitio: Recopilamos datos sobre su visita mediante Google Analytics.
    2. Uso de la Información
    Procesar pedidos y comunicarnos con usted.
    Mejorar nuestros servicios.
    Publicidad personalizada con Google Ads.
    3. Google Ads
    Utilizamos Google Ads para mostrar anuncios relevantes. Google puede usar cookies para recopilar información.

    4. Compartir Información
    No vendemos su información. Compartimos datos con:

    Proveedores de servicios.
    Google para anuncios.
    Autoridades legales si es necesario.
    5. Seguridad
    Protegemos su información con medidas de seguridad.

    6. Sus Derechos
    Puede acceder, corregir o eliminar su información y optar por no recibir marketing. Contáctenos en [correo electrónico de contacto].

    7. Cambios
    Podemos actualizar esta política. Los cambios se publicarán en esta página.

    8. Contacto
    Para preguntas, contáctenos en yostin151@gmail.com:
</p>
